.new-arrivals__title,
.top-products__title {
	font-family: var(--second-family);
	font-size: 48px;
	text-align: center;
	margin-bottom: 55px;
	text-transform: uppercase;
}

.new-arrivals__list,
.top-products__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.product-card {
	display: flex;
	flex-direction: column;
}

.product-card__item {
	cursor: pointer;
	transition: transform var(--transition-time);
}

.product-card__link {
	display: block;
	height: 100%;
}

.product-card__image {
	margin-bottom: 16px;
}

.product-card__title {
	font-size: 20px;
	margin-bottom: 8px;
}

.product-card__rating {
	display: flex;
	justify-content: flex-start;
	gap: 13px;
	margin-bottom: 8px;
}

@media (any-hover: hover) {
	.product-card__item:hover {
		transform: var(--transform-offset-2);
	}
}

.product-card__score {
	font-size: 14px;
	color: var(--main-color);
}

.product-card__score-color {
	color: #00000099;
}

.product-card__price {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 36px;
	font-weight: 700;
	color: var(--main-color);
}

.product-card__current-price {
	font-size: 24px;
}

.product-card__old-price {
	font-weight: 700;
	font-size: 24px;
	text-decoration: line-through;
	color: var(--third-color);
}

.product-card__discount {
	border-radius: 62px;
	padding: 6px 14px;
	width: 58px;
	height: 28px;
	background: #ff33331a;
}

.product-card__discount--20,
.product-card__discount--30 {
	font-weight: 500;
	font-size: 12px;
	color: #f33;
}

.new-arrivals__footer,
.top-products__footer {
	display: flex;
	justify-content: center;
}

.new-arrivals__button,
.top-products__button {
	border: 1px solid #0000001a;
	border-radius: 62px;
	padding: 16px 54px;
	cursor: pointer;
	transition:
		transform var(--transition-time),
		box-shadow var(--transition-time);
}

.new-arrivals__button-text,
.top-products__button-text {
	font-weight: 500;
	font-size: 16px;
	color: #000;
}

@media (any-hover: hover) {
	.new-arrivals__button:hover,
	.top-products__button:hover {
		transform: var(--transform-offset-2);
		box-shadow: var(--box-shadow);
	}
}

@media (width <= 992px) {
	/* min-width 375px, max-width 992px */
	.new-arrivals__title,
	.top-products__title {
		font-size: clamp(26px, 0.789rem + 3.57vw, 48px);
		margin-bottom: clamp(32px, 1.126rem + 3.73vw, 55px);
	}

	.new-arrivals__list,
	.top-products__list {
		gap: clamp(10px, 0.245rem + 1.62vw, 20px);
	}

	.product-card__image {
		width: clamp(173px, 6.178rem + 19.77vw, 295px);
		height: auto;
		margin-bottom: clamp(10px, 0.397rem + 0.97vw, 16px);
	}

	.product-card__title {
		font-size: clamp(15px, 0.748rem + 0.81vw, 20px);
		margin-bottom: clamp(5px, 0.199rem + 0.49vw, 8px);
	}

	.product-card__score {
		font-size: clamp(12px, 0.674rem + 0.32vw, 14px);
	}

	.product-card__rating {
		margin-bottom: clamp(4px, 0.098rem + 0.65vw, 8px);
	}

	.product-card__current-price,
	.product-card__old-price {
		font-size: clamp(18px, 0.897rem + 0.97vw, 24px);
	}

	.product-card__price {
		display: flex;
		gap: clamp(5px, 0.123rem + 0.81vw, 10px);
		margin-bottom: clamp(27px, 1.346rem + 1.46vw, 36px);
	}

	.product-card__discount {
		width: clamp(40px, 1.816rem + 2.92vw, 58px);
		height: auto;
		padding-block: clamp(3px, 0.074rem + 0.49vw, 6px);
		padding-inline: clamp(7px, 0.172rem + 1.13vw, 14px);
	}

	.product-card__discount--20,
	.product-card__discount--30 {
		font-size: clamp(10px, 0.549rem + 0.32vw, 12px);
	}

	.new-arrivals__button-text,
	.top-products__button-text {
		font-size: clamp(14px, 0.799rem + 0.32vw, 16px);
	}
}

@media (width <= 576px) {
	.product-card-three,
	.product-card-four {
		display: none;
	}

	.new-arrivals__button,
	.top-products__button {
		width: clamp(220px, 100%, 358px);
	}
}
