.header {
	background-color: var(--fourth-color);
	z-index: var(--layer-2);
}

.header__container {
	max-width: 1240px;
	min-height: 96px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	padding-block: 24px;
}

.header__logo {
	display: flex;
	align-items: center;
	line-height: 0;
}

.header__logo-icon {
	display: block;
}

.menu__list {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 24px;
}

.menu__link {
	display: flex;
	flex-wrap: nowrap;
	font-size: 16px;
	color: var(--main-color);
	white-space: nowrap;
}

.menu__link--with-arrow {
	display: inline-flex;
	align-items: center;
	gap: 4px;
}

.menu__arrow {
	flex: 0 0 auto;
}

.header__search-form {
	align-self: center;
	margin: 0;
}

.search {
	width: 462px;
	height: 48px;
	display: flex;
	align-items: center;
	gap: 12px;
	border-radius: 62px;
	background-color: var(--bg-color);
}

.search__icon {
	min-width: 24px;
	color: var(--third-color);
	margin-left: 16px;
}

.search__input {
	width: 100%;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	border: 0;
	outline: 0;
	background: transparent;
}

.search__input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	display: none;
}

.header__actions {
	display: flex;
	gap: 14px;
}

.actions__search-button {
	display: none;
}

.actions__cart-button svg,
.actions__account-button svg {
	display: block;
}

.header__logo:hover,
.menu__link:hover,
.actions__cart-button:hover,
.actions__account-button:hover {
	opacity: var(--opacity-time);
	transition:
		opacity var(--transition-time),
		transform var(--transition-time);
}

/* Адаптация */
@media (width <= 768px) {
	.header__container {
		justify-content: flex-start;
	}

	.header__logo-icon {
		width: 126px;
		height: 18px;
	}

	.header__actions {
		margin-left: auto;
	}

	/* Бургер меню */
	.header__menu {
		position: fixed;
		top: 0;
		left: -100vw;
		bottom: 0;
		z-index: var(--layer-2);
		min-width: 250px;
		min-height: 240px;
		padding-top: 150px;
		padding-left: 22px;
		background-color: var(--bg-color);
		box-shadow: -7px 0 15px 0 var(--main-color);
		opacity: 0;
		visibility: hidden;
		transition:
			left var(--transition-time),
			opacity var(--transition-time),
			visibility var(--transition-time);
	}

	.header__menu--open {
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	.header__menu .menu__list {
		flex-direction: column;
		align-items: flex-start;
	}
}

@media (width <= 1300px) and (width > 992px) {
	.search {
		width: clamp(220px, -34.964rem + 78.57vw, 462px);
	}
}

@media (width <= 1100px) {
	.header__container {
		gap: 16px;
	}
}

@media (width <= 992px) {
	.header__search {
		display: none;
	}

	.actions__search-button {
		display: inline-flex;
	}
}
