.hero {
	position: relative;
	overflow: hidden;
	background: var(--bg-color);
}

.hero__container {
	position: relative;
	padding-block: 106px 116px;
	z-index: var(--layer-1);
	min-height: 663px;
}

.hero__models {
	position: absolute;
	z-index: var(--layer-negative);
	right: 0;
	max-width: 610px;
	height: auto;
	bottom: 0;
}

.hero__content-title {
	max-width: 577px;
	font-family: var(--second-family);
	font-size: 51px;
	line-height: 112%;
}

.hero__content-text {
	max-width: 551px;
	margin-top: 34px;
	font-size: 16px;
	line-height: 138%;
	color: var(--second-color);
}

.hero__button-link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 32px;
	border-radius: 62px;
	padding: 16px 54px;
	background: var(--main-color);
}

.hero__button-link:hover {
	transition: var(--transition-time);
	transform: var(--transform-offset-2);
}

.hero__button-buy {
	color: var(--fourth-color);
	font-size: 16px;
}

.hero__list {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	margin-top: 48px;
}

.hero__item {
	padding-right: 32px;
	margin-right: 32px;
	border-right: 1px solid #0000001a;
}

.hero__item:last-child {
	padding-right: 0;
	margin-right: 0;
	border-right: none;
}

.hero__number {
	display: block;
	font-size: 40px;
	color: var(--main-color);
}

.hero__label {
	font-size: 16px;
	line-height: 1.35;
	color: var(--second-color);
}

.hero__media {
	position: absolute;
	inset: 0;
	pointer-events: none;
}

.hero__sparkle-s,
.hero__sparkle-m {
	position: absolute;
}

.hero__sparkle-s {
	top: 297px;
	right: 555px;
}

.hero__sparkle-m {
	top: 86px;
	right: 0px;
}

/* Адаптация */
@media (width <= 1200px) {
	/* min-height 375px, max-width 1200px */
	.hero__container {
		padding-top: clamp(40px, 0.625rem + 8vw, 106px);
	}

	.hero__content-title {
		font-size: clamp(31px, 1.369rem + 2.42vw, 51px);
		line-height: 106%;
	}

	.hero__content-text {
		margin-top: clamp(20px, 0.852rem + 1.7vw, 34px);
		font-size: clamp(14px, 0.279rem + 0.96vw, 16px);
		line-height: 157%;
	}

	.hero__sparkle-s,
	.hero__sparkle-m {
		display: none;
	}

	.hero__number {
		font-size: clamp(24px, -3.269rem + 7.69vw, 40px);
		line-height: 1.1;
	}

	.hero__label {
		font-size: clamp(12px, -0.442rem + 1.92vw, 16px);
		line-height: 183%;
	}

	.hero__item {
		padding-right: clamp(10px, -6.654rem + 11.54vw, 28px);
		margin-right: clamp(10px, -6.654rem + 11.54vw, 28px);
	}
}

@media (width <= 992px) {
	.hero {
		position: relative;
	}

	.hero__container {
		padding-bottom: 0;
	}

	.hero__list {
		padding-bottom: 0;
	}

	.hero__media {
		position: absolute;
		inset: 0;
		display: block;
	}

	.hero__sparkle-s {
		position: absolute;
		left: 280px;
		bottom: 267px;
		top: auto;
		right: auto;
		transform: none;
	}

	.hero__sparkle-m {
		background: url("../../icons/sparkle/sparkle-m-shadow-no.svg") center /
			contain no-repeat;
		top: 86px;
		right: 0;
		width: 76px;
		height: 76px;
	}

	.hero__sparkle-m use {
		display: none;
	}

	.hero__models {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 425px;
		height: 448px;
	}
}

@media (width <= 768px) {
	.hero__content-title {
		width: clamp(358px, 9.314rem + 55.73vw, 577px);
	}

	.hero__content-text {
		width: clamp(358px, 10.865rem + 49.11vw, 551px);
	}
}

@media (width <= 576px) {
	.hero__button-link {
		width: clamp(220px, 100%, 358px);
	}
}

@media (width <= 440px) {
	.hero__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 14px;
		padding-bottom: 0;
	}

	.hero__item {
		padding-right: 0;
		margin-right: 0;
		border-right: none;
		text-align: center;
	}

	.hero__item:nth-child(1) {
		border-right: 1px solid #0000001a;
	}

	.hero__item:nth-child(3) {
		grid-column: 1 / -1;
	}
}
