.promo-banner {
	background-color: var(--bg-color);
	font-family: var(--font-family);
	font-size: 14px;
	color: var(--main-color);
	overflow: hidden;
	transition: var(--transition-time);
}

.promo-banner__container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1240px;
	height: 38px;
	margin: 0 auto;
	padding: 0;
}

.promo-banner__text {
	display: flex;
	font-weight: 400;
}

.promo-banner__link {
	font-weight: 500;
	color: var(--main-color);
	margin-left: 5px;
	text-decoration: underline;
}

.promo-banner__close {
	margin-left: 282px;
	cursor: pointer;
}

.promo-banner--hidden {
	max-height: 0;
	opacity: 0;
}

@media (width <= 576px) {
	.promo-banner__container {
		justify-content: center;
		padding: 8px 40px 8px 16px;
	}

	.promo-banner__text {
		display: none;
	}

	.promo-banner__link {
		text-align: center;
		margin-left: 0;
	}
}

@media (width <= 768px) {
	.promo-banner {
		font-size: 12px;
	}

	.promo-banner__container {
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		row-gap: 2px;
		min-height: 34px;
		height: auto;
		padding: 8px 44px 8px 16px;
	}

	.promo-banner__text,
	.promo-banner__link {
		text-align: center;
		font-size: 12px;
		line-height: 1.3;
	}

	.promo-banner__link {
		margin-left: 5px;
	}

	.promo-banner__close {
		margin-left: 20px;
	}
}

@media (width <= 1440px) {
	.promo-banner__container {
		max-width: 100%;
		min-width: 0;
		padding-inline: 16px 56px;
	}

	.promo-banner__close {
		margin-left: 40px;
	}
}
