table {
	border-collapse: collapse;
	letter-spacing: 1px;
	font-family: Arial, sans-serif;
}

td,
th,
caption {
	padding-left: 4px;
	border: 1px solid #000;
}

caption {
	border-bottom: none;
	font-weight: 700;
	font-size: 17px;
}

th,
td {
	font-size: 14px;
}

.text {
	color: rgb(210, 0, 0);
}
