* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.form {
	border: 1px solid rgb(0, 0, 0);
	padding: 30px;
	border-radius: 5px;
	max-width: 400px;
	width: 100%;
}

.form-fieldset {
	border: none;
	padding: 0px;
}

.form-legend {
	font-size: 22px;
	font-weight: 700;
	padding: 0;
	margin-bottom: 20px;
}

.label {
	display: inline-block;
	margin-bottom: 10px;
}

.textarea {
	max-height: 200px;
	min-height: 30px;
	resize: vertical;
}

.input,
.textarea {
	border: 1px solid rgb(0, 0, 0);
	padding: 5px 12px;
	margin-bottom: 20px;
	border-radius: 5px;
	outline: none;
	width: 100%;
}

.checkbox-label {
	padding-left: 22px;
}

.checkbox {
	appearance: none;
	position: absolute;
	outline: none;
}

.checkbox::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	margin-left: -22px;
	border: 1px solid #333;
	border-radius: 4px;
	cursor: pointer;
}

.checkbox:checked::after {
	background:
		url(../images/check-icon.svg) no-repeat center,
		rgba(5, 176, 145, 0.686);
}

.span-text {
	font-size: 13px;
}

.button {
	border: none;
	border-radius: 6px;
	padding: 6px 18px;
	background-color: rgba(5, 176, 145, 0.686);
	cursor: pointer;
	transition: opacity 0.3s;
}

.button:hover {
	opacity: 0.85;
}

.button:active {
	background-color: rgba(6, 139, 115, 0.686);
}

.input:focus-visible,
.textarea:focus-visible,
.checkbox:focus-visible::after,
.button:focus-visible {
	outline: 2px solid rgba(5, 176, 145, 0.686);
	outline-offset: 1px;
}
