.page {
	font-family: var(--font-family);
	font-weight: 400;
}

.page__body {
	min-width: 390px;
}

.container {
	width: min(var(--container-width), 100%);
	margin: 0, auto;
	margin-inline: auto;
}
